*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.container{
    height: 100vh;
    margin: 0;
}

.header{
    height: 20%;
    background: rgb(138, 43, 226);
    padding: 10px;
}

.logo{
    display: inline-block;
    height: 100%;
    width: 50%;
    margin-right: 20px;
}

.header_title{
    display: inline-block;
    height: 100%;
    width: 40%;
    margin: 0;
    vertical-align: top;
    text-align: center;
    font-style: italic;
    font-size: 30px;
}

.header_img{
    display: inline-block;
    height: 100%;
    width: 7%;
}

.main{
    height: 70%;
    background: lightgray;
}

.nav{
    vertical-align: top;
    display: inline-block;
    height: 100%;
    width: 20%;
    background: rgb(231,155,1);
}

.section{
    display: inline-block;
    height: 100%;
    width: 80%;
}

.text{
    margin: 10px 5px;
    font-size: 20px;
}

.footer{
    height: 10%;
    background: rgb(138, 43, 226);
    padding: 5px;
}

.nav_list{
    padding: 0;
    margin: 5px;
}

.nav_item{
    background-color: blueviolet;
    list-style-type: none;
    border: 2px solid black;
    padding: 5px;
    margin-bottom: 10px;
}

.nav_link{
    display: inline-block;
    width: 100%;
    font-size: 24px;
    color: black;
    text-decoration: none;
    text-align: center;
}

.footer_text{
    display: inline-block;
    height: 100%;
    width: 20%;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
}

.footer_link{
    display: inline-block;
    height: 100%;
    margin-right: 20px;
    font-size: 20px;
    color: black;
    padding-top: 10px;
}